h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .display {
    font-family: Playfair Display,serif;
}
h2, .h2 {
    font-size: 44px;
}
p {
    font-size: 21px;
}
.font-large {
    font-size: 72px;
}
.lead {
    font-size: 24px;
}
